$mq-responsive: true;
$breakpoints: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1280px
);

// If you want to display the currently active breakpoint in the top
// right corner of your site during development, add the breakpoints
// to this list, ordered by width. For examples: (mobile, tablet, desktop).
$show-breakpoints: (sm, md, lg, xl, xxl);

@use 'sass-mq/mq' with (
  $breakpoints: $breakpoints
);
