.DS_Store
public
.hugo_build.lock

# sass debug files
debug.css
debug.css.map

# Local Netlify folder
.netlify
.idea
posters_bak.json
QCrypt_background1old.png
letter.aux
letter.log
letter.synctex.gz
node_modules
_gen

# snapshots Directory
snapshots/
