# publishDir = "docs"

baseURL = "https://qcrypt.net"
languageCode = "en"
title = "QCrypt Conference Website"

# Theme
theme = "devfest-theme-hugo"

# Params
enableEmoji = true
enableRobotsTXT = true
enableMissingTranslationPlaceholders = true

# Google Analytics are currently disabled, 
# using it would officially require a cookie banner at least in the EU, and we don't have one...
# it's probably better not to track people anyways.
# GoogleAnalytics = "G-221GMGECQ6"

[services]
  [services.googleAnalytics]
    id = "G-221GMGECQ6"

[params]
    title = "QCrypt Conference Website"
    date = "2026-01-01"
    currentYear = 2026
    description = "International Conference on Quantum Cryptography"
    images = ["/images/social-share.jpg"]
    email = "webmaster@qcrypt.net"
    keywords = "event, quantum cryptography, QCrypt"
    copyright = "We :heart: sheep"
    copyright_link = "https://github.com/QCrypt/qcrypt-website"
    # cfpUrl = "/2024/call"
    # subscriptionUrl = ""
    appleTouchIcon = "/apple-touch-icon.png"
    favicon32 = "/favicon-32x32.png"
    favicon16 = "/favicon-16x16.png"
    manifest = "/manifest.json"
    safariPinnedTab = "/safari-pinned-tab.svg"
 [params.style]
            [params.style.sass]
              path = "C:\\dart-sass\\bin\\src\\dart.bat"

[params.2023]
  city = "Washington DC, USA"
  timeanddate_cityid = 263
  themeColor = "#ac191c"
  [params.2023.logos]
    jumbo = "/images/2023/QuCrC23_Logo.png"
    header = "/images/2023/QuCrC23_Logo.png"
    banner = "/images/2023/banner-2023.jpeg"

[params.2024]
  city = "Vigo, Spain"
  timeanddate_cityid = 4529
  themeColor = "#0099cc"
  [params.2024.logos]
    jumbo = "/images/2024/QCrypt_2024_logo_final.png"
    header = "/images/2024/QCrypt_2024_logo_final.png"
    banner = "/images/2024/banner-2024.jpg"

[params.2025]
  city = "Sanya, China"
  timeanddate_cityid = 33
  themeColor = "#4775ff"
  [params.2025.logos]
    jumbo = "/images/2025/QCrypt_2025_logo.png"
    header = "/images/2025/QCrypt_2025_logo2.png"
    banner = "/images/2025/banner_2025.jpg"

[params.2026]
  city = "Ottawa, Canada"
  timeanddate_cityid = 188
  themeColor = "#ac191c"
  [params.2026.logos]
    jumbo = "/images/2026/QCrypt2026-Logo.png"
    header = "/images/2026/QCrypt2026-Logo2.png"
    banner = "/images/2026/Ottawa-Banner.jpeg"

[params.logos]
    footer = "/images/logos/netlify-color-accent.svg"
    footer_link = "https://www.netlify.com"

[server]
  [[server.redirects]]
      from = "/"
      to = "/2026/"
      status = 302
      force = true 

[menu]
  [[menu.2023]]
    name = "Home"
    weight = 10
    identifier = "home"
    pageRef = '/2023'
  [[menu.2023]]
    name = "Technical Program"
    weight = 20
    identifier = "technical-program"
  [[menu.2023]]
    name = "Attend"
    weight = 30
    identifier = "attend"
  [[menu.2023]]
    name = "Sponsors"
    weight = 40
    identifier = "sponsors"
    pageRef = "/2023/partners"
  [[menu.2023]]
    name = "Committees"
    weight = 50
    identifier = "committees"
    pageRef = "/2023/team"

  [[menu.2024]]
    name = "Home"
    weight = 10
    identifier = "home"
    pageRef = '/2024'
  [[menu.2024]]
    name = "Technical Program"
    weight = 20
    identifier = "technical-program"
  [[menu.2024]]
    name = "Attend"
    weight = 30
    identifier = "attend"
  [[menu.2024]]
    name = "Sponsors"
    weight = 40
    identifier = "sponsors"
    pageRef = "/2024/partners"
  [[menu.2024]]
    name = "Committees"
    weight = 50
    identifier = "committees"
    pageRef = "/2024/team"

  [[menu.2025]]
    name = "Home"
    weight = 10
    identifier = "home"
    pageRef = '/2025'
  [[menu.2025]]
    name = "Technical Program"
    weight = 20
    identifier = "technical-program"
  [[menu.2025]]
    name = "Attend"
    weight = 30
    identifier = "attend"
  [[menu.2025]]
    name = "Sponsors"
    weight = 40
    identifier = "sponsors"
    pageRef = "/2025/partners"
  [[menu.2025]]
    name = "Committees"
    weight = 50
    identifier = "committees"
    pageRef = "/2025/team"

    [[menu.2026]]
    name = "Home"
    weight = 10
    identifier = "home"
    pageRef = '/2026'
  [[menu.2026]]
    name = "Technical Program"
    weight = 20
    identifier = "technical-program"
  [[menu.2026]]
    name = "Attend"
    weight = 30
    identifier = "attend"
  [[menu.2026]]
    name = "Sponsors"
    weight = 40
    identifier = "sponsors"
    pageRef = "/2026/partners"
  [[menu.2026]]
    name = "Committees"
    weight = 50
    identifier = "committees"
    pageRef = "/2026/team"
  [[menu.2026]]
    name = "About QCrypt 2026 Logo"
    weight = 60
    identifier = "logo"
    pageRef = "/2026/logo"



[languages]
[languages.en]
    weight = 1
    languageName = "us"

[taxonomies]
    tag = "tags"

[markup]
[markup.goldmark]
[markup.goldmark.renderer]
unsafe = true

[privacy]
    [privacy.disqus]
        disable = true
    [privacy.googleAnalytics]
        anonymizeIP = false
        disable = false
        respectDoNotTrack = false
        useSessionStorage = false
    [privacy.instagram]
        disable = true
        simple = false
    [privacy.twitter]
        disable = false
        enableDNT = false
        simple = false
    [privacy.vimeo]
        disable = true
        simple = false
    [privacy.youtube]
        disable = true
        privacyEnhanced = true

         
