[build.environment]
HUGO_VERSION = "0.140.0"
DART_SASS_VERSION = "1.83.0"
TZ = "Europe/Amsterdam"

[build]
  publish = "public"
  command = """\
    curl -LJO https://github.com/sass/dart-sass/releases/download/${DART_SASS_VERSION}/dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz && \
    tar -xf dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz && \
    rm dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz && \
    export PATH=/opt/build/repo/dart-sass:$PATH && \
    hugo --gc --minify \
    """

[context.production.environment]
  HUGO_VERSION = "0.140.0"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

[context.branch-deploy.environment]
  HUGO_VERSION = "0.140.0" # if older, use format: 0.53 (no trailing zero)

[context.deploy-preview.environment]
  HUGO_VERSION = "0.140.0"

[[redirects]]
    from = "/2022"
    to = "https://2022.qcrypt.net"
    status = 302
    force = true

[[redirects]]
    from = "/2021"
    to = "https://2021.qcrypt.net"
    status = 302
    force = true

[[redirects]]
    from = "/2014"
    to = "https://qcrypt.github.io/2014.qcrypt.net"
    status = 302
    force = true

[[redirects]]
    from = "/"
    to = "/2025/"
    status = 302
    force = true