[build.environment]
HUGO_VERSION = "0.140.0"
DART_SASS_VERSION = "1.83.0"
TZ = "Europe/Amsterdam"

[build]
  publish = "public"
  command = """\
    curl -LJO https://github.com/sass/dart-sass/releases/download/${DART_SASS_VERSION}/dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz && \
    tar -xf dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz && \
    rm dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz && \
    export PATH=/opt/build/repo/dart-sass:$PATH && \
    hugo --gc --minify \
    """

[context.production.environment]
  HUGO_VERSION = "0.140.0"
  HUGO_ENV = "production"
  HUGO_ENABLEGITINFO = "true"

[context.branch-deploy.environment]
  HUGO_VERSION = "0.140.0" # if older, use format: 0.53 (no trailing zero)

[context.deploy-preview.environment]
  HUGO_VERSION = "0.140.0"

[[redirects]]
    from = "/2011"
    to = "https://qcrypt.iaqi.org/2011"
    status = 301
    force = true
[[redirects]]
    from = "/2012"
    to = "https://qcrypt.iaqi.org/2012"
    status = 301
    force = true
[[redirects]]
    from = "/2013"
    to = "https://qcrypt.iaqi.org/2013"
    status = 301
    force = true
[[redirects]]
    from = "/2014"
    to = "https://qcrypt.iaqi.org/2014"
    status = 301
    force = true
[[redirects]]
    from = "/2015 "
    to = "https://qcrypt.iaqi.org/2015"
    status = 301
    force = true
[[redirects]]
    from = "/2016"
    to = "https://qcrypt.iaqi.org/2016"
    status = 301
    force = true
[[redirects]]
    from = "/2017"
    to = "https://qcrypt.iaqi.org/2017"
    status = 301
    force = true
[[redirects]]
    from = "/2018"
    to = "https://qcrypt.iaqi.org/2018"
    status = 301
    force = true
[[redirects]]
    from = "/2019"
    to = "https://qcrypt.iaqi.org/2019"
    status = 301
    force = true
[[redirects]]
    from = "/2020"
    to = "https://qcrypt.iaqi.org/2020"
    status = 301
    force = true
[[redirects]]
    from = "/2021"
    to = "https://qcrypt.iaqi.org/2021"
    status = 301
    force = true
[[redirects]]
    from = "/2022"
    to = "https://qcrypt.iaqi.org/2022"
    status = 301
    force = true
[[redirects]]
    from = "/"
    to = "/2025/"
    status = 302
    force = true