.icon {
  --size: 1em;
  height: var(--size, 1em);
  min-width: var(--size, 1em);
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: var(--space-1);
}

a .icon {

  &.icon-subscribe, &.icon-email {
    margin-right: var(--space-3);
  }
  &.icon-picture, &.icon-slides, &.icon-pdf, &.icon-video {
    margin-right: var(--space-2);
  }
  &.icon-right {
    margin-left: var(--space-3);
  }

}