<header>
	{{ $currentPage := . }}
	{{ $currentYear := string .Site.Params.currentYear }}
	{{ if not (eq .Section "") }}
		{{ $currentYear = .Section }}
	{{ end }}

	<div class="top-content">
	  <div class="logo">
			{{ $logoPath := "" }}
			{{ if $currentYear }}
				{{ $logoPath = (index .Site.Params $currentYear).logos.header }}
			{{ else }}
				{{ $logoPath = (index .Site.Params "2024").logos.header }}
			{{ end }}		
			<a href="{{ printf "/%s/" $currentYear | relLangURL }}">
     	   <img src="{{ $logoPath }}" alt="logo {{ .Site.Title }}">
		</a>
	  </div>
  
	  <input type="checkbox" id="menu-burger" class="visually-hidden" aria-label="Menu"/>
	  <label for="menu-burger">
		{{ partial "icon.html" "menu" }}
		{{ partial "icon.html" "close" }}
	  </label>

	<nav>
	  <ul class="menu"></ul>
		{{ $yearMenu := index .Site.Menus $currentYear }}
		{{ range $yearMenu }}
			{{ if .HasChildren }}
				<li class="has-children {{ if $currentPage.IsMenuCurrent $currentYear . }}active{{ end }}">
				<!-- make the parent menu item not clickable -->
				<a>{{ .Name }}</a> 
				<ul class="submenu">
					{{ range .Children }}
					<li class="{{ if $currentPage.IsMenuCurrent $currentYear . }}active{{ end }}">
						<a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
					</li>
					{{ end }}
				</ul>
				</li>
			{{ else }} <!-- no children -->
			<li class="{{ if $currentPage.IsMenuCurrent $currentYear . }}active{{ end }}">
				<a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		{{ end }}
	  </ul>
	</nav>
	</div>
</header>

{{ define "scripts" }}

{{ end }}