<header>
	{{ $currentPage := . }}
	{{ $currentYear := index (split .RelPermalink "/") 1 }}
	
	<div class="top-content">
	  <div class="logo">
			{{ $logoPath := "" }}
			{{ if $currentYear }}
				{{ $logoPath = (index .Site.Params.logos $currentYear).header }}
			{{ else }}
				{{ $logoPath = (index .Site.Params.logos "2024").header }}
			{{ end }}		
			<a href="{{ printf "/%s/" $currentYear | relLangURL }}">
     	   <img src="{{ $logoPath }}" alt="logo {{ .Site.Title }}">
		</a>
	  </div>
  
	  <input type="checkbox" id="menu-burger" class="visually-hidden" aria-label="Menu"/>
	  <label for="menu-burger">
		{{ partial "icon.html" "menu" }}
		{{ partial "icon.html" "close" }}
	  </label>

	  <nav>
		<ul class="menu">
		  {{ range .Site.Menus.main }}
			{{ $menuYear := index (split .URL "/") 1 }}
			{{ if eq $menuYear $currentYear }}
			  <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
				{{ if (hasPrefix .URL "http") }}
				  <a class="external" rel="noreferrer" target="_blank" href="{{ .URL }}">{{ .Name }}</a>
				{{ else }}
				  <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
				{{ end }}
			  </li>
			{{ end }}
		  {{ end }}
		</ul>
	  </nav>

	  <!-- <nav>
		{{ $currentPage := . }}
		{{ $currentYear := index (split .RelPermalink "/") 1 }}
		
		<ul class="menu">
			{{- $currentPage := . -}}
			{{ range .Site.Menus.main }}
			<li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" >
			{{ if (hasPrefix .URL "http") }}
			<a class="external" rel="noreferrer" target="_blank" href="{{ .URL }}">{{ .Name }}</a>
			{{ else }}
			<a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
			{{ end }}
			</li>
			{{ end }}
		</ul>

		<ul class="menu">
		  {{ range where .Site.RegularPages "Section" $currentYear }}
			{{ if .Params.menu }}
			  <li class="{{ if eq $currentPage.RelPermalink .RelPermalink }}active{{ end }}">
				<a href="{{ .RelPermalink }}">{{ .Title }}</a>
			  </li>
			{{ end }}
		  {{ end }}
		</ul>
	  </nav> -->
	</div>
  </header>